.custum-file-upload {
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #a88499;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    font-family: 'Body';
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .custum-file-upload:hover {
    transform: scale(1.05);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 5em;
    fill: rgb(156, 129, 149);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-size: 1.5em;
    color: rgb(86, 80, 85);
  }
  
  .custum-file-upload input {
    display: none;
  }

  .upload-container{
    display: flex;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upload-container button{
    border: 2px solid  #616a72;
    font-size: 1.2em;
    border-radius: 30px;
    padding: 1em 3em;
    margin: 1em;
    margin-bottom: 2em;
    font-family: "Body";
    color: #6b7680;
    background-color:  #d4e1ed;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.upload-container button:hover{
    transform: scale(1.1);
    background-color:  #b3c9de;
    color: #49545e;
    border: 2px solid  #49545e;
}

h3{
    font-family: "Body";
    font-size: 1.5em;
    color: rgb(132, 124, 124);
    margin-bottom: 1em;
}